@tailwind base;
@tailwind components;
@tailwind utilities;

@import './code.css';

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply text-gray-600 bg-snow dark:bg-lead dark:text-snow/90
     text-base antialiased font-body lg:text-lg leading-3 tracking-tight xl:tracking-wide;
  }
  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply font-heading tracking-wider;
  }
  code,
  pre {
    @apply font-code text-cherry bg-gray-50 dark:bg-slate rounded-md dark:text-[#c0caf5];
  }

  pre {
    @apply my-4 overflow-auto rounded shadow-sm pb-2 md:pb-6;
  }

  code {
    @apply text-sm lg:text-base;
  }
}
@layer utilities {
  .grid-with-nav {
    gird-template-columns: 5rem auto;
  }
  .form-input {
    @apply bg-transparent placeholder-shown:text-sm appearance-none 
          rounded-md relative block w-full px-3 py-2 h-10 border border-gray-300 text-base
          dark:border-white/50 placeholder-gray-500 text-gray-900 dark:text-white/90 
          focus:outline-none focus:border-yellow-500 dark:focus:border-mint focus:border;
  }
  .icon-link {
    @apply w-5 h-5 lg:h-6 lg:w-6 fill-current text-gray-400 dark:group-hover:text-mint group-hover:text-orange transition-colors ease-out;
  }
  .text-outline {
    -webkit-text-stroke: 1px rgba(107, 114, 128, 0.25);
  }
}
@layer components {
  .text-gradient {
    @apply bg-clip-text text-transparent dark:bg-gradient-to-tr bg-gradient-to-tl from-orange  to-pink-500 dark:from-mint dark:to-blue-500;
  }
  .text-gradient-reversed {
    @apply bg-clip-text text-transparent dark:bg-gradient-to-tl bg-gradient-to-tr from-orange  to-pink-500 dark:from-mint dark:to-blue-500;
  }

  .nav-link-shadow {
    box-shadow: rgba(50, 33, 84, 0.25) 52px 12px 50px -8px;
  }
  .nav-link-shadow-reversed {
    box-shadow: rgba(50, 33, 84, 0.25) -52px -12px 50px -8px;
  }

  .gradient-link:after {
    background-size: inherit;
    background-image: inherit;
    -webkit-animation: inherit;
    animation: inherit;
  }
}

#nprogress {
  @apply pointer-events-none;
}

#nprogress .bar {
  @apply bg-gradient-to-r from-orange to-pink-600 dark:from-mint dark:to-purple-700 fixed z-100 top-0 left-0 w-full h-[3px];
}
